@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Saans,sans-serif;
}
.display-1 {
  font-family: Saans,sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: Saans, sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: Saans, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: Saans, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: Saans, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  border-radius: 4px;
  font-size: 1rem;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #2b7a69 !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #2b7a69 !important;
  border-color: #2b7a69 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #38a089 !important;
  border-color: #38a089 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #38a089 !important;
  border-color: #38a089 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #19f328 !important;
  border-color: #19f328 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #49f655 !important;
  border-color: #49f655 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #010c01 !important;
  background-color: #49f655 !important;
  border-color: #49f655 !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #2b7a69;
  color: #2b7a69;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #143a32 !important;
  background-color: transparent !important;
  border-color: #143a32 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2b7a69 !important;
  border-color: #2b7a69 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #19f328;
  color: #19f328;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #09ac14 !important;
  background-color: transparent !important;
  border-color: #09ac14 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #010c01 !important;
  background-color: #19f328 !important;
  border-color: #19f328 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #2b7a69 !important;
}
.text-secondary {
  color: #19f328 !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #102f28 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #089e13 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #2b7a69;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffffff;
}

.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #2b7a69;
  border-color: #2b7a69;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #2b7a69;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #5ec6b0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: Saans, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #2b7a69 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: Saans, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #2b7a69;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #2b7a69;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #2b7a69;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #2b7a69;
  border-bottom-color: #2b7a69;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #2b7a69 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #19f328 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%232b7a69' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-unuH6hLz5n {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-unuH6hLz5n nav.navbar {
  position: fixed;
}
.cid-unuH6hLz5n .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-unuH6hLz5n .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-unuH6hLz5n .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-unuH6hLz5n .dropdown-item:hover,
.cid-unuH6hLz5n .dropdown-item:focus {
  background: #2b7a69 !important;
  color: white !important;
}
.cid-unuH6hLz5n .dropdown-item:hover span {
  color: white;
}
.cid-unuH6hLz5n .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-unuH6hLz5n .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-unuH6hLz5n .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-unuH6hLz5n .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-unuH6hLz5n .nav-link {
  position: relative;
}
.cid-unuH6hLz5n .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-unuH6hLz5n .container {
    flex-wrap: nowrap;
  }
}
.cid-unuH6hLz5n .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-unuH6hLz5n .dropdown-menu,
.cid-unuH6hLz5n .navbar.opened {
  background: #232323 !important;
}
.cid-unuH6hLz5n .nav-item:focus,
.cid-unuH6hLz5n .nav-link:focus {
  outline: none;
}
.cid-unuH6hLz5n .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-unuH6hLz5n .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-unuH6hLz5n .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-unuH6hLz5n .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-unuH6hLz5n .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-unuH6hLz5n .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-unuH6hLz5n .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #232323;
}
.cid-unuH6hLz5n .navbar.opened {
  transition: all 0.3s;
}
.cid-unuH6hLz5n .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-unuH6hLz5n .navbar .navbar-logo img {
  width: auto;
}
.cid-unuH6hLz5n .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-unuH6hLz5n .navbar.collapsed {
  justify-content: center;
}
.cid-unuH6hLz5n .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-unuH6hLz5n .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-unuH6hLz5n .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-unuH6hLz5n .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-unuH6hLz5n .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-unuH6hLz5n .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-unuH6hLz5n .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-unuH6hLz5n .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-unuH6hLz5n .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-unuH6hLz5n .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-unuH6hLz5n .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-unuH6hLz5n .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-unuH6hLz5n .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-unuH6hLz5n .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-unuH6hLz5n .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-unuH6hLz5n .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-unuH6hLz5n .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-unuH6hLz5n .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-unuH6hLz5n .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-unuH6hLz5n .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-unuH6hLz5n .navbar.navbar-short {
  min-height: 60px;
}
.cid-unuH6hLz5n .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-unuH6hLz5n .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-unuH6hLz5n .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-unuH6hLz5n .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-unuH6hLz5n .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-unuH6hLz5n .dropdown-item.active,
.cid-unuH6hLz5n .dropdown-item:active {
  background-color: transparent;
}
.cid-unuH6hLz5n .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-unuH6hLz5n .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-unuH6hLz5n .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-unuH6hLz5n .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-unuH6hLz5n .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-unuH6hLz5n .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-unuH6hLz5n ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-unuH6hLz5n .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-unuH6hLz5n button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-unuH6hLz5n button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #9fe870;
}
.cid-unuH6hLz5n button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-unuH6hLz5n button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-unuH6hLz5n button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-unuH6hLz5n button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-unuH6hLz5n nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-unuH6hLz5n nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-unuH6hLz5n nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-unuH6hLz5n nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-unuH6hLz5n .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-unuH6hLz5n a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-unuH6hLz5n .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-unuH6hLz5n .navbar {
    height: 70px;
  }
  .cid-unuH6hLz5n .navbar.opened {
    height: auto;
  }
  .cid-unuH6hLz5n .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-unuH8EoTCR {
  background-color: #232323;
}
.cid-unuH8EoTCR .mbr-fallback-image.disabled {
  display: none;
}
.cid-unuH8EoTCR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-unuH8EoTCR .icons-media-container h1 span {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 4rem;
  color: #19f328;
}
.cid-unuH8EoTCR .icons-media-container h1 span .mbr-iconfont {
  font-size: 96px;
  color: #ffffff;
}
.cid-unuH8EoTCR .icons-media-container h1 span .icon-block {
  padding-bottom: 1rem;
}
.cid-unuH8EoTCR .mbr-text {
  color: #ffffff;
}
.cid-unuH8EoTCR .card {
  padding-bottom: 1.5rem;
}
.cid-unuH8EoTCR .item-wrapper {
  margin-top: 4rem;
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-unuH8EoTCR .item-wrapper .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-unuH8EoTCR .item-wrapper .card-title {
  color: #ffffff;
}
.cid-unuH8EoTCR .item-wrapper .card-title,
.cid-unuH8EoTCR .card-box {
  text-align: center;
}
.cid-unuUfVugs9 {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
.cid-unuUfVugs9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-unuUfVugs9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-unuUfVugs9 .row-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-unuUfVugs9 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-unuUfVugs9 .row {
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-unuUfVugs9 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-unuUfVugs9 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-unuUfVugs9 .mbr-section-title {
  color: #ffffff;
}
.cid-unuUfVugs9 .mbr-text,
.cid-unuUfVugs9 .mbr-section-btn {
  color: #f7f7f7;
}
.cid-unuUfVugs9 img {
  width: 100%;
  object-fit: cover;
  height: 30rem;
}
@media (max-width: 767px) {
  .cid-unuUfVugs9 img {
    height: 15rem;
  }
}
.cid-unuN37qC1H {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-unuN37qC1H .row {
  flex-direction: row-reverse;
}
.cid-unuN37qC1H .mbr-fallback-image.disabled {
  display: none;
}
.cid-unuN37qC1H .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-unuN37qC1H .mbr-description {
  text-align: left;
}
.cid-unuN37qC1H .item-wrapper {
  background: #232323;
  margin-bottom: 2rem;
  padding: 2.25rem 2.25rem 1rem 2.25rem;
}
@media (max-width: 767px) {
  .cid-unuN37qC1H .item-wrapper {
    padding: 2rem 1.5rem 0.5rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-unuN37qC1H .item-wrapper {
    padding: 2rem 1.5rem 0.5rem 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-unuN37qC1H .card-title,
.cid-unuN37qC1H .iconfont-wrapper {
  color: #000000;
}
.cid-unuN37qC1H .card-text {
  color: #000000;
}
.cid-unuN37qC1H .mbr-section-title {
  color: #f7f7f7;
  text-align: center;
}
.cid-unuN37qC1H .mbr-text,
.cid-unuN37qC1H .mbr-section-btn {
  text-align: center;
}
.cid-unuN37qC1H .card-text,
.cid-unuN37qC1H .item .mbr-section-btn {
  text-align: left;
}
.cid-unuN37qC1H .counter-container ul {
  margin: 0;
  padding-left: 2.25rem;
  list-style: none;
}
.cid-unuN37qC1H .counter-container ul li {
  position: relative;
  list-style: none;
  margin-bottom: 2rem;
}
.cid-unuN37qC1H .counter-container ul li:before {
  position: absolute;
  left: -1.5em;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #19f328;
  background-color: #19f328;
  width: 0.5em;
  height: 0.5em;
  top: 0.4em;
  border-radius: 50%;
}
.cid-unuN37qC1H .mbr-text UL {
  text-align: left;
}
.cid-unuN37qC1H .mbr-text {
  color: #ffffff;
}
.cid-unAa5hc45r {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #383838;
  overflow: hidden;
}

.wrapperr {
  display: flex;
  justify-content: center;
}

.ctaa {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 #04a324;
    transform: skewX(-15deg);
}

.ctaa:focus {
   outline: none; 
}

.ctaa:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #1a9a00;
}

.ctaa span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.ctaa:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}



/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #21c800;
    }
    100% {
        fill: white;
    }
}

/* Text animations */


.btn-shine {
  position: absolute;
  transform: translate(-50%,-50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #19f328 0, white 10%, #19f319 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  white-space: nowrap;
  margin-left: 100px;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100%{ 
    background-position: 180px;
  }
}



music {
  position: absolute;
  width: 100%;
  height: 50%;
  font-size: 45px;
}

music:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  line-height: 48px;
  left: 30%;
  top: 50%;
  animation: abomination1 7.5s linear 1;
  animation-fill-mode: forwards;
}


  @keyframes abomination1 {
  0% {
    content: "T";
  }
  4% {
    content: "Th";
  }
  8% {
    content: "The";
  }
  12% {
    content: "The ";
  }
  16% {
    content: "The T";
  }
  20% {
    content: "The Ty";
  }
  24% {
    content: "The Typ";
  }
  28% {
    content: "The Type";
  }
  32% {
    content: "The Typew";
  }
  36% {
    content: "The Typewr";
  }
  40% {
    content: "The Typewri";
  }
  44% {
    content: "The Typewrit";
  }
  48% {
    content: "The Typewrite";
  }
  52% {
    content: "The Typewriter";
  }
  56% {
    content: "The Typewriter";
  }
  60% {
    content: "The Typewriterr";
  }
  64% {
    content: "The Typewriter";
  }
  68% {
    content: "The Typewriter ";
  }
  72% {
    content: "The Typewriter E";
  }
  76% {
    content: "The Typewriter Ef";
  }
  80% {
    content: "The Typewriter Efe";
  }
  84% {
    content: "The Typewriter Efe";
  }
  88% {
    content: "The Typewriter Eff";
  }
  92% {
    content: "The Typewriter Effe";
  }
  96% {
    content: "The Typewriter Effec";
  }
  100% {
    content: "The Typewriter Effect";
  }
}
